<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tipes.mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.user.kuisioner.soal.number.SoalNumberTunggalActivity"
            android:theme="@style/AppThemeNoBarSBGray"/>
        <activity
            android:name=".view.user.kuisioner.soal.yesno.SoalActivity"
            android:theme="@style/AppThemeNoBarSBGray" />
        <activity
            android:name=".view.user.kuisioner.KuisionerActivity"
            android:theme="@style/AppThemeNoBar"/>
        <activity
            android:name=".view.RegisterActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".view.user.akun.AkunActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".view.user.petunjuk.PetunjukActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".view.user.MainActivityUser"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>